.card--container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background: #3891f7da;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease-in-out;
    min-height: 200px;
    
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card--cover {
    /*background: #fff; */
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    color: #dadadada;
    width: 100%;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    max-width: 100px;
    /* Ajusta el tamaño máximo según sea necesario */
    max-height: 100px;
    /* Ajusta el tamaño máximo según sea necesario */
}


.card--title {
    background: #202020; 
    font-size: 5px;
    /*display: flex; */
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
    color: #dadadada;
    height: 60px;
    text-align: center;
    flex-grow: 1;
    overflow: hidden;
    margin: 0 auto; /*titulos de deportes*/
    max-width: 100%;
}

@media (max-width: 1024px) {
    .card {
        max-width: calc(
            50% - 20px
        ); /* Ajusta el ancho de las tarjetas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .card {
        max-width: calc(
            100% - 20px
        ); /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
    }

    .card--cover {
        font-size: 2rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
}
