/*
.dashboard {
    background-color: #d8528ac0;
    padding: 20px;  Ajusta el padding según sea necesario 
}
*/

.dashboard {
    display: flex;
    gap: 20px;
    width: 100%; 
    box-sizing: border-box; 
}
.dashboard--content {
   /* background-color: #67adfc23; */
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: 20px;
    box-sizing: border-box; 
    overflow: hidden; 
}
