/*
.dashboard {
    background-color: #d8528ac0;
    padding: 20px;  Ajusta el padding según sea necesario 
  }
  */

.dashboard {
    display: flex;
    gap: 20px;
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total del elemento */
}
.dashboard--content {
    background-color: #3d3d3d2f;
    flex: 1;
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-top: 20px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total del elemento */
    overflow: hidden; /* Evita el desbordamiento del contenido */
}
