
.usuarioListContain {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.containerFormUsuarios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.containerFormUsuarios input[type="text"],
.containerFormUsuarios input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.containerFormUsuarios button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.containerFormUsuarios button:hover {
    background-color: #0056b3;
}

.table-users {
    width: 100%;
    border-collapse: collapse;
    max-height: 300px; 
    overflow-y: auto; 
   
}

.table-users thead {
    background-color: #007bff;
    color: #fff;
}

.table-users th, .table-users td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}


.table-users tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}




.table-header-usuarios {
    background-color: #007bff;
    color: #fff;
}

.table-header-row-usuarios {
    background-color: #007bff;
}

.table-header-no-us, 
.table-header-name-us, 
.table-header-lastname-us, 
.table-header-email-us, 
.table-header-role-us, 
.table-header-actions-us {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

table button {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

table button:hover {
    background-color: #218838;
}

table button:last-child {
    background-color: #dc3545;
}

table button:last-child:hover {
    background-color: #c82333;
}


.btn-crear-usuario {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.btn-crear-usuario:hover {
    background-color: #0056b3; }