
.form--container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
/*

.form-label {
    margin-bottom: 0px; 
    display: block; 
}*/
  
#form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
    min-height: 400px; 
    color: #333; 
    overflow-y: auto; 
    align-items: center;
    flex-direction: column;
    position: relative; 
    margin: 0 auto; 
}  
#form h2 {
    color: #007bff; 
    margin-bottom: 20px; 
}
  
#form .mb-4 label {
    color: #555; 
}
  
#form .my-4 {
    color: #fff; 
}
  
#form input,
#form textarea {
  width: 100%; 
  
}


#form textarea {
  width: 100%; 
  height: 100px; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  resize: none; 
  overflow-y: auto; 
}

.button-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}


.custom-btn-message{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    margin-top: 10px; 

}
  
.btn-primary:hover {
    background-color: #0056b3;
  }
  

 

