
.form-label {
  margin-bottom: 0px; 
  display: block; 
}



.custom-btn-reserva{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  margin-top: 10px; 
}







