.columns {
    display: flex;
    margin-top: 1.5rem; /* equivalente a mt-6 en Bulma */
    min-height: 50vh;
  }
  
  .column {
    flex: 1;
  }
  
  .sidebar {
    flex: 0 0 20%; /* Ancho de la columna del sidebar */
  }
  
  .main-content {
    flex: 1;
    background-color: #b62b2b; /* Color de fondo equivalente a has-background-light */
    border-radius: 20px;
    padding: 1rem;
    /*display: flex; */
    /*gap: 1.5rem; */
    /*justify-content: space-between; */
  }
  